.TestPalindrome {
  padding: 2em;
  margin: 2em 0;
}

.TestPalindrome .response {
  text-transform: uppercase;
  font-weight: bold;
}

.TestPalindrome .response .yes, .TestPalindrome .response .no {
  padding: 0.4em 1em;
}

.TestPalindrome .response .yes {
  color: rgb(0, 150, 0);
  background-color: rgba(0, 150, 0, 0.4);
  border: 1px solid rgba(0, 150, 0, 0.7);
}

.TestPalindrome .response .no {
  color: rgb(150, 0, 0);
  background-color: rgba(150, 0, 0, 0.4);
  border: 1px solid rgba(150, 0, 0, 0.7);
}
